/* Custom-css */
.custom-full-body{
    background-color: #E5E5E5;
}
.custom-bg{
    background-color: #FFF9F4;
}
.title-h1{
    color: #FA804C;
}
.buy-now-botton{
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    color: white;
    margin-top: 6px;
}
.banner-subtitle{
    padding-right: 100px;
}
.find-icon{
  width: 80px;
  height: 80px;
  padding-bottom: 10px;
}

/* ----------html----------- */
<div class="custom-bg pt-5 pb-5">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- image div -->
      <img class="w-50" src="images/Group-demo-1.png" alt="">
    <!-- image info div -->
    <div>
      <h1><span class="title-h1 text-uppercase fw-bold">Nike React</span><br><span class="text-uppercase fw-bold"> Infinity Run 2</span></h1>
      <p class="pe-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <!-- banner button -->
      <div>
        <a class="btn buy-now-botton border-0" href="#"><i class="fa-solid fa-cart-plus"></i> BUY NOW</a>
      </div>
    </div>
  </div>
</div>